@(partid:String,boms:List[Bom],bomForm :Form[Bom])
@import helper._

@main("Bom sub parts"){
	<h1> The Bill Of Materials (BOM) sub parts </h1>
	<h2>Add sub part</h2>
	@form(routes.Application.bomadd){
		@inputText(bomForm("Company ID"))
		@inputText(bomForm("Part ID"))
		@inputText(bomForm("Child Part"))
		@inputText(bomForm("Quantity"))
		<input type="submit" value="Add Child">
		
	}
	<table border="1">
	<tr>
	 <th>Child part Id</th>
	 <th>Quantity</th>
	 <th></th>
	</tr>
	
	@boms.map{bom =>
		<tr>
			<td>@bom.childpartid</td>
			<td>@bom.quantity</td>
			<td> <a href="@routes.Application.bomdelete(bom.partid,bom.childpartid)">Delete</a>
			</td>
		</tr>
	}
	</table>
	
<a href="/">Home</a> <p>
<a href="@routes.Application.part">Part</a>
}
