@(orders : List[Order],orderform :Form[Order])
@import helper._

@main("Company orders"){

	<h1>Company Orders</h1>
	
	@form(action = routes.Application.ordernew, 'id -> "genmrpform"){
	<table>
	<tr>
		<td>@inputText(orderform("Company ID"))</td>
		<td>@inputText(orderform("Part ID"))</td>
		<td>@inputText(orderform("Order Id"),'size-> 10)</td>
		<td>@inputText(orderform("Schedule ID"),'size -> 10)</td>
		<td>@inputText(orderform("Days"),'size -> 8)</td>
		<td>@inputText(orderform("Quantity"),'size -> 8)</td>
	</tr>
	</table>
	<input type="submit" value="Order"/>
	 <input type="reset" value ="Clear">	
	}
   
   <table id="flowdata" border="1">
   	<tr>
   		<th>Company Id</th>
   		<th>Part id</th>
   		<th>Order id</th>
   		<th>Schedule id</th>
   		<th>Periods </th>
   		<th>Quantity</th>
   		<th>Delete</th>
   	</tr>
   @orders.map{order =>
    <tr>
    	<td>@order.compid</td>
    	<td>@order.partid</td>
    	<td>@order.orderid</td>
    	<td>@order.scheduleid</td>
    	<td>@order.days</td>
    	<td>@order.quantity</td>
    	<td align="center"><a href ="@routes.Application.orderremove(order.orderid)"><image src = "@routes.Assets.at("images/icontexto-message-types-error-purple16.png")"/></a><td>
    </tr>
    		
   }
   </table>
   <a href="@routes.Application.genpor">Generate Purchase Order Release</a>
   <br/>
   
   <a href="/">Home</a> ,
   <a href="@routes.Application.part">parts</a>

}