@(partForm:Form[Part]))
@import helper._

@main("Update Part") {
	 <ul id="menu">
		<li id="menu"><a id="mele" href="/">Home</a></li>
		<li id="menu"><a id="mele" href="/part">Parts</a></li>
		<li id="menu"><a id="mele" href="/order">Orders</a></li>
		<li id="menu"><a id="mele" href="/genconf">GenConfig</a></li>
		<li id="menu"><a id="mele" href="/logout">Logout</a></li>
	</ul>
	<h2> Update Part</h2>
	@form(action = routes.Application.partupdate, 'id -> "updateform"){
    
    @inputText(partForm("CompId")) 
    @inputText(partForm("PartId"))
    @inputText(partForm("Part name"))
    @inputText(partForm("Lead time"),'size -> 10)
    @inputText(partForm("On Hand"),'size -> 10)
     <input type="submit" value="Update">
        
    }



}