@(costfuncs : List[Costfunction], costfuncForm : Form[Costfunction])
@import helper._

@main("Part Cost functions"){

	@form(action = routes.Application.costfuncadd,'id -> "genmrpform"){
		<table>
		<tr>
		<td>@inputText(costfuncForm("Company ID"))</td>
		<td>@inputText(costfuncForm("Part ID"))</td>
		<td>@inputText(costfuncForm("Function ID"),'size -> 10)</td>
		<td>@inputText(costfuncForm("Function"),'size -> 40)</td>
		</tr>
		</table>
		<input type="submit" value="add function"/>
		<input type="reset" value ="Clear"/>
	}
	<table id="flowdata" border="1">
	<tr>
		<th>Function Id</th>
		<th>Function f(Q)</th>
		<th>Del</th>
	</tr>
	@costfuncs.map{costfunc =>
	<tr>
		<td> @costfunc.funcid</td>
		<td> @costfunc.functxt</td>
		<td><a href ="@routes.Application.costfuncdelete(costfunc.partid,costfunc.funcid)"><image src = "@routes.Assets.at("images/icontexto-message-types-error-purple16.png")"/></a></td>
	</tr>
		
		
	}
	</table>
<a href="/">Home</a>
<a href="@routes.Application.part">Part</a>

}