@(message: String)

@main("Welcome GenMRP Home") {
    
   <h1>GenMRP Home </h1> 
   <H3>You are logged in with @message</H3>
   <h4> please proceed with you configurations.</h4>
   
   <table id="home">
   <tr>
   <td><a href="part"><image src="@routes.Assets.at("images/process10.JPG")" /> </a></td>
   <td><a href="@routes.Application.order"> <image src="@routes.Assets.at("images/table.png")" /></a></td>
   <td><a href="@routes.Application.genconf"> <image src="@routes.Assets.at("images/genetics.svg_.png")" width="145" height="145"/></a></td>
   <td><a href="logout"><image src="@routes.Assets.at("images/logout.png")" /></a></td>  
   </tr>
   <tr>
   <td>Parts</td>
   <td>Order Snapshot</td>
   <td>Genetic Engine</td>
   <td>Logout</td>
   </tr>
   </table>
   
   

   
  
  
    
}