@(orders : List[Order],orderform :Form[Order])
@import helper._

@main("Company orders"){

	<h1>Company Orders</h1>
	
	@form(routes.Application.ordernew){
		@inputText(orderform("Company ID"))
		@inputText(orderform("Part ID"))
		@inputText(orderform("Order Id"))
		@inputText(orderform("Schedule ID"))
		@inputText(orderform("Days"))
		@inputText(orderform("Quantity"))
	<input type="submit" value="Order"/>	
	}
   
   <table border="1">
   	<tr>
   		<th>Company Id</th>
   		<th>Part id</th>
   		<th>Order id</th>
   		<th>Schedule id</th>
   		<th>In how many days</th>
   		<th>Quantity</th>
   		<th></th>
   	</tr>
   @orders.map{order =>
    <tr>
    	<td>@order.compid</td>
    	<td>@order.partid</td>
    	<td>@order.orderid</td>
    	<td>@order.scheduleid</td>
    	<td>@order.days</td>
    	<td>@order.quantity</td>
    	<td><a href ="@routes.Application.orderremove(order.orderid)">delete</a><td>
    </tr>
    		
   }
   </table>
   <a href="@routes.Application.genpor">Generate Purchase Order Release</a>
   <br/>
   
   <a href="/">Home</a> ,
   <a href="@routes.Application.part">parts</a>

}