@(orders : List[Order],orderform :Form[Order])
@import helper._

@main("Company orders"){

	<h1>Company Orders</h1>
	
	@form(routes.Application.ordernew){
		@inputText(orderform("Company ID"))
		@inputText(orderform("Part ID"))
		@inputText(orderform("Order Id"))
		@inputText(orderform("Schedule ID"))
		@inputText(orderform("Days"))
		@inputText(orderform("Quantity"))
	<input type="submit" value="Order"/>	
	}
   
   <table>
   	<th>
   		<td>Company Id</td><td>Part id</td><td>Order id</td><td>Schedule id</td><td>days</td><td>Quantity</td>
   	</th>
   @orders.map{order =>
    <tr>
    	<td>@order.compid</td>
    	<td>@order.partid</td>
    	<td>@order.orderid</td>
    	<td>@order.scheduleid</td>
    	<td>@order.days</td>
    	<td>@order.quantity</td>
    	<td><a href ="@routes.Application.orderremove(order.orderid)">delete</a><td>
    </tr>
    		
   }
   </table>

}