@(parts:List[Part], partForm:Form[Part])
@import helper._

@main("Manage your Part or Materials") {
    
    <h2> You are at Products and Parts page</h2> 
    <p/>
    <h3>Add new parts</h3>
    
    @form(routes.Application.partadd){
        @inputText(partForm("CompId"))
		@inputText(partForm("PartId"))    
    	@inputText(partForm("Part name")) 	
    	@inputText(partForm("Lead time"))
    	@inputText(partForm("On Hand"))
    	
    	<input type="submit" value="Add Part">
    }
    
    <h3>Products and  parts</h3>
    <table border="1">
    <tr>
    	<th>Company</th>
    	<th>Part Id</th>
    	<th>Part Name</th>
    	<th>Lead time(days)</th>
    	<th>On hand </th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	
    </tr>
    @parts.map{ part =>
    <tr>
     <td>@part.compid</td>
     <td>@part.partid</td>
     <td>@part.partname</td>
     <td>@part.leadtime</td>
     <td>@part.onhand</td>
     <td>@form(routes.Application.partdelete(part.partid)){
    				<input type="submit" value="Delete"/>
    			}
     </td>
     <td>@form(routes.Application.bom(part.partid)){
     			<input type="submit" value="Sub Parts"/>
     	}
     
     </td>
     <td>
     	@form(routes.Application.costfunc(part.partid)){
     		<input type="submit" value="Cost functions"/>
        }
     </td>
     <td>
     	@form(routes.Application.orderpart(part.partid)){
     		<input type="submit" value="Order"/>
     	}
     </td>
    </tr>
    }
    </table>
    
     <a href="/">Home</a>
    
}